body{
  background-image: url("background.jpg");
  background-size: cover;
  color: green;
}

.container{
  background-color: rgba(0, 0, 0, 0.5);
  width: 1200px;
  height: 600px;
  border-radius: 10px;
  margin: auto;
  padding: 5px;
}

/* intestazione con logo */

.logo{
  text-align: center;
  display: block;
  margin: 0px auto;
}

.logo-text{
  font-family: "Poppins";
  font-size: 25px;
  text-align: center;
  color: rgb(0,221,0);
}

/* barra di prenotazione */

nav{
  background-color: rgb(0, 221, 0);
  width: 1000px;
  height: 20px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

/* info sui monopattini da noleggiare */

.elenco{
  margin: auto;
  padding-left: 90px;
}

.monopattino{
  margin-top: 20px;
}

.nomepattino {
  color: white;
  font-family: "Poppins";
  font-size: 20px;
}

.strada{
  color: white;
  font-family: "Poppins";
  font-size: 13px;
}

.strada:before{
  content: "\21A6" ;
}

.stato{
  color: white;
  font-family: "Poppins";
  font-size: 13px;
}

/* barre indicatori della carica */

.carica1{
  background-color: rgb(245, 180, 83);
  width: 300px;
  height: 25px;
  border-radius: 4px;
}

.carica2{
  background-color: rgb(30, 195, 30);
  width: 450px;
  height: 25px;
  border-radius: 4px;
}

.carica3{
  background-color: rgb(190, 65, 65);
  width: 140px;
  height: 25px;
  border-radius: 4px;
}

/* fatto a posta per provare la regola dei figli */
.container footer div p {
  color: white;
  text-align: center;
}

.firma:after{
  content: "\2764" ;
}
